#deckContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.style1 {
  background-color: rgb(255, 108, 93);
}

.card {
  width: 10%;
  height: 10vh;
  display: inherit;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 1px 2px 1px 1px #000;
  background-color: #fafad2;
  margin: 1%;
}

.btns {
  border-radius: 10px;
  display: inline-block;
  border: 1px solid black;
  padding: 3px 25px;
  margin: 5px 11px;
  background-color: lightblue;
}
